### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/

## OS
.DS_Store
!.gitkeep

## jupyter notebook
.ipynb_checkpoints

## Heavy data
ch3/data-clustering/**
ch4/data/ap/**
ch4/data/ap.tgz

